datasets==2.13.1
torch>=1.13.0
deepspeed==0.9.4
accelerate==0.20.3
transformers==4.30.2
pytorch_lightning==2.0.3
jupyterlab
faiss-gpu
virtualenv
InstructorEmbedding
snowflake-snowpark-python==1.7.0
pyarrow==10.0.1
boto3
tqdm
langchain
pandas
ipywidgets
py-spy
nltk
scikit-learn
scipy
sentencepiece
torchvision
matplotlib
bitsandbytes
openai
tiktoken